<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="icon" href="#" type="image/gif" sizes="16x16">
	<!--Bootstrap icons-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
	<!--Bootstrap-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!--fontawesome icons-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/v4-shims.css">
    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <!--css file-->
	<link rel="stylesheet" href="../staticfiles/css/index.css">
</head>
<body>
	<!--HEADER-->
	<header class="hackathon_header_bg">
		<section class="container_hackaton">
			<nav>
				<div class="header_bar">
					<div class="bar_name">
						<a href="#">
							<span>HACKATHON</span>
						</a>
					</div>
					<div class="bar_items">
						<ul>
							<li>
								<a href="#">Biz haqimizda</a>
							</li>
							<li>
								<a href="#">Hakamlar</a>
							</li>
							<li>
								<a href="#">Sharhlar</a>
							</li>
							<li>
								<a href="#">Hamkorlar</a>
							</li>
							<li>
								<a href="#">Biz bilan aloqa</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-bars"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="click_bar">
					<i class="fa fa-bars"></i>
				</div>
			</nav>
			<div class="hackathon_m_text mt-5">
				<a>
					<h1>HACKATHON</h1>
				</a>
			</div>
			<div class="row header_items">
				<div class=" col-12 col-sm-12 col-md-6 header_left">
					<div>
						<a>
							<h1>HACKATHON</h1>
						</a>
					</div>
					<div>
						<p>Bu butun mamlakat bo'ylab qaynoq nuqtalariga va har kuni o'nlab tadbirlarga kirish uchun bir yarim million tadbirkorlar, tadqiqotchilar, talabalar va ko'ngillilarga qo'shilish imkoniyatidir. Eng yaxshilardan o‘rganing</p>
					</div>
					<div>
						<a>
							<button>Batafsil</button>
						</a>
					</div>
				</div>
				<div class=" col-12 col-sm-12 col-md-6 header_right">
					<div class="header_img_shuffle">
						<a>
							<img src="../media/img/letters.png">
						</a>
					</div>
				</div>
			</div>
		</section>
	</header>
	<!--MAIN-->
	<style type="text/css">
		.hackathon_header_bg{background-image:url(../media/img/hackathonbg.png); 
							 background-size: cover; color: white;
							 background-position: center;}

	</style>
	<main>
		<section class="container_hackaton">
			<div class="main_contents">
				<div class="m_block1"><!--m title-->
					<div class="m1_content_left">
						<a>
							<h1>Tadbirlar</h1>
							<div class="m1_underline"></div>
						</a>
					</div>
					<div class="m1_content_right">
						<a>
							<i class="bi bi-sliders"></i>
						</a>
					</div>
				</div><!--m title-->
				<div class="m_block_select">
					<div class="m_select mb-5">
						<select>
							<option>
								<a>Barcha tadbirlar</a>
							</option>
						</select>
					</div>
					<div class="m_select mb-5">
						<select>
							<option>
								<a>Barcha shaxarlar</a>
							</option>
						</select>
					</div>
					<div class="m_select mb-5">
						<select>
							<option>
								<a>Vaqtlar</a>
							</option>
						</select>
					</div>
					<div class="m_select">
						<select>
							<option>
								<a>Mavzular</a>
							</option>
						</select>
					</div>
				</div>
				<div class="cards_block mt-5"><!--cards-->
					<div class="cards_items row">
						<div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-5">
							<div class="m_cards">
								<div class="card_imgs">
									<a>
										<img src="../media/img/main_card1.png" >
									</a>
								</div>
								<div class="card_texts">
									<div class="card_thema">
										<p>Mavzu:<span class="ml-3">Hackathon</span></p>
									</div>
									<div class="card_place_date">
										<p>20 - Noyabr soat 10:00 dan 20:00 gacha</p>
										<span>O’zbekiston - Toshkent</span>
									</div>
									<div class="card_btns">
										<button>Ro'yhatdan o'tish</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-5">
							<div class="m_cards">
								<div class="card_imgs">
									<a>
										<img src="../media/img/main_card2.png" >
									</a>
								</div>
								<div class="card_texts">
									<div class="card_thema">
										<p>Mavzu:<span class="ml-3">Hackathon</span></p>
									</div>
									<div class="card_place_date">
										<p>20 - Noyabr soat 10:00 dan 20:00 gacha</p>
										<span>O’zbekiston - Toshkent</span>
									</div>
									<div class="card_btns">
										<button>Ro'yhatdan o'tish</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-5">
							<div class="m_cards">
								<div class="card_imgs">
									<a>
										<img src="../media/img/main_card3.png" >
									</a>
								</div>
								<div class="card_texts">
									<div class="card_thema">
										<p>Mavzu:<span class="ml-3">Hackathon</span></p>
									</div>
									<div class="card_place_date">
										<p>20 - Noyabr soat 10:00 dan 20:00 gacha</p>
										<span>O’zbekiston - Toshkent</span>
									</div>
									<div class="card_btns">
										<button>Ro'yhatdan o'tish</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-5">
							<div class="m_cards">
								<div class="card_imgs">
									<a>
										<img src="../media/img/main_card1.png" >
									</a>
								</div>
								<div class="card_texts">
									<div class="card_thema">
										<p>Mavzu:<span class="ml-3">Hackathon</span></p>
									</div>
									<div class="card_place_date">
										<p>20 - Noyabr soat 10:00 dan 20:00 gacha</p>
										<span>O’zbekiston - Toshkent</span>
									</div>
									<div class="card_btns">
										<button>Ro'yhatdan o'tish</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-5">
							<div class="m_cards">
								<div class="card_imgs">
									<a>
										<img src="../media/img/main_card2.png" >
									</a>
								</div>
								<div class="card_texts">
									<div class="card_thema">
										<p>Mavzu:<span class="ml-3">Hackathon</span></p>
									</div>
									<div class="card_place_date">
										<p>20 - Noyabr soat 10:00 dan 20:00 gacha</p>
										<span>O’zbekiston - Toshkent</span>
									</div>
									<div class="card_btns">
										<button>Ro'yhatdan o'tish</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-5">
							<div class="m_cards">
								<div class="card_imgs">
									<a>
										<img src="../media/img/main_card3.png" >
									</a>
								</div>
								<div class="card_texts">
									<div class="card_thema">
										<p>Mavzu:<span class="ml-3">Hackathon</span></p>
									</div>
									<div class="card_place_date">
										<p>20 - Noyabr soat 10:00 dan 20:00 gacha</p>
										<span>O’zbekiston - Toshkent</span>
									</div>
									<div class="card_btns">
										<button>Ro'yhatdan o'tish</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!--cards-->
				<div><!--competition block-->
					<div class="comp_block">
						<div class="d-flex">
							<a>
								<h1 class="comp_text">Musobaqalar</h1>
								<div class="m1_underline"></div>
							</a>
						</div>
						<div class="pl_pr">
							<div class="row m_bg_img">
								<div class="col-12 col-sm-12 col-md-12 col-lg-5 p-0  ">
									<div class="comp_items">
										<div>
											<a>
												<h1 class="comp_text">Musobaqalar</h1>
											</a>
											<p class="pt-4">
												Tur sifatida o‘tkaziladigan musobaqalar umumiy musobaqaning bir qismi hisoblanadi. Jamoalar guruhlarga bo‘linida va bir necha kun ichida dam olmasdan, bir joyda musobaqa o‘tkazadi. Musobaqa ikki va undan ko‘p turdan iborat bo‘lishi mumkin.
											</p>
										</div>
										<div>
											<a>
												<button>Ro'yhatdan o'tish</button>
											</a>
										</div>
									</div>
								</div>
								<div class="col-12 col-sm-12 col-md-12 col-lg-7 p-0 ">
									<div class="bg_linear"></div>
								</div>
							</div>
						</div>
					</div>
				</div><!--competition block-->
				<div class="cards_items row mt-5 pt-4">
						<div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-5">
							<div class="m_cards">
								<div class="card_imgs">
									<a>
										<img src="../media/img/main_card1.png" >
									</a>
								</div>
								<div class="card_texts">
									<div class="card_thema">
										<p>Mavzu:<span class="ml-3">Hackathon</span></p>
									</div>
									<div class="card_place_date">
										<p>20 - Noyabr soat 10:00 dan 20:00 gacha</p>
										<span>O’zbekiston - Toshkent</span>
									</div>
									<div class="card_btns">
										<button>Ro'yhatdan o'tish</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-5">
							<div class="m_cards">
								<div class="card_imgs">
									<a>
										<img src="../media/img/main_card2.png" >
									</a>
								</div>
								<div class="card_texts">
									<div class="card_thema">
										<p>Mavzu:<span class="ml-3">Hackathon</span></p>
									</div>
									<div class="card_place_date">
										<p>20 - Noyabr soat 10:00 dan 20:00 gacha</p>
										<span>O’zbekiston - Toshkent</span>
									</div>
									<div class="card_btns">
										<button>Ro'yhatdan o'tish</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-5">
							<div class="m_cards">
								<div class="card_imgs">
									<a>
										<img src="../media/img/main_card3.png" >
									</a>
								</div>
								<div class="card_texts">
									<div class="card_thema">
										<p>Mavzu:<span class="ml-3">Hackathon</span></p>
									</div>
									<div class="card_place_date">
										<p>20 - Noyabr soat 10:00 dan 20:00 gacha</p>
										<span>O’zbekiston - Toshkent</span>
									</div>
									<div class="card_btns">
										<button>Ro'yhatdan o'tish</button>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</section>
	</main>
	<!--FOOTER-->
	<footer class="footer">
		<section class="container_hackaton text-white">
			<div class="foooer_navs">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 f_items">
						<div>
							<a>
								<h1>
									HACKATHON
								</h1>
							</a>
						</div>
						<div>
							<a>
								<i class="fab fa-vk mr-4"></i>
							</a>
							<a>
								<i class="fa fa-facebook mr-4"></i>
							</a>
							<a>
								<i class="fab fa-telegram"></i>
							</a>
						</div>
					</div>
					<div class="col-12 col-sm-12 col-md-2 col-lg-3 col-xl-2 f_items">
						<ul>
							<li>
								<a>Faoliyat</a>
							</li>
							<li>
								<a>Uchrashuvlar</a>
							</li>
							<li>
								<a>Translatsiya</a>
							</li>
							<li>
								<a>Ishtirokchilar</a>
							</li>
							<li>
								<a>Musobaqalar</a>
							</li>
						</ul>
					</div>
					<div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 f_items">
						<ul>
							<li>
								<a>Biz haqimizda</a>
							</li>
							<li>
								<a>Tashkilotchilar uchun</a>
							</li>
							<li>
								<a>Loyiha haqida</a>
							</li>
							<li>
								<a>Qaynoq nuqtalar</a>
							</li>
							<li>
								<a>Nashrlar</a>
							</li>
						</ul>
					</div>
					<div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 f_items">
						<ul>
							<li>
								<a>Yordam</a>
							</li>
							<li>
								<a>Kontaktlar</a>
							</li>
							<li>
								<a>Hujjatlar</a>
							</li>
						</ul>
					</div>
					<div class="col-12 col-sm-12 col-md-5 col-lg-4 col-xl-3 f_items">
						<ul>
							<li>
								<a>Qo'llab-quvatlash</a>
							</li>
							<li>
								<a>Faoliyat</a>
							</li>
							<li>
								<a>+XXX XX XXX XX XX</a>
							</li>
							<li>
								<a>support@hackathon.uz</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</footer>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<script src="../staticfiles/js/index.js"></script>
	<script type="text/javascript">
					let click_settings = document.querySelector('.m1_content_right')
						let num3 = 0

						click_settings.onclick = function(){
								
						function myFunction(y) {
						  if (y.matches) {
						    
							num3 ++ 
							if (num3 >= 2) {num3 = 0}

							if (num3 == 1) {
								document.querySelector('.m_block_select').style = "height:auto; transition:all 0.4s;"
							}
							else{
								document.querySelector('.m_block_select').style = "height:0px;  transition:all 0.5s;"
							}

						 }
						 else {
						    document.querySelector('.m_block_select').style = "height:auto; transition:all 0.5s;"
						    if (num3 == 1) {num3 = 1}
						}

						}

						var y = window.matchMedia("(max-width:768px)")
						myFunction(y)
						y.addListener(myFunction)
						}
				</script>
</body>
</html>